:root {
    --page-gap: 24px;
    --cols: 2;
    --cols-lg: 3;
  }
  a{
    text-decoration: none;
    color: #414141;
  }
  
  body {
    font-family: system-ui;
    font-weight: 300;
    font-feature-settings: 'salt' 1 ;
  }
  
  .page {
    padding: 1rem var(--page-gap);
    margin: 0 auto;
    max-width: 1920px;
  }
  
  i {
    font-style: normal;
  }
  
  h1 {
    margin: 0 0 2rem -0.125rem;
    font-size: 55px;
    font-weight: 100;
    font-family: 'FreightDisp Pro Medium', -apple-system-headline, ui-serif;  
  }
  
  header p {
    color: #757575;
    margin: 0 0 0 0;
  }
  
  .utility {
    border-bottom: 1px solid black;
    position: sticky;
    top: 0;
    z-index: 1;
    background: white;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  
  .product-listing, .product-listing__filter, .product-listing__products {
    transition: 0s ease;
  }
  
  .product-listing {
    display: grid;
    grid-column-gap: 24px;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
  }
  .product-listing__filter {
    display: none;
  }
  .product-listing__filter a {
    display: block;
    padding: 0.25rem 0;
  }
  .product-listing__filter a.is-active {
    color: black;
    position: relative;
  }
  .product-listing__filter a.is-active::before {
    content: '';
    height: 7px;
    width: 7px;
    background: #ccc;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: -23px;
  }
  #filters-hidden {
    display: none;
  }
  .filter__section {
    margin-bottom: 2rem;
  }
  .filter__stackable {
    position: sticky;
    top: 95px;
  }
  .product-listing__products {
    display: grid;
    grid-column-gap: 24px;
    grid-template-columns: repeat(var(--cols), 1fr);
    padding: 0 0 6rem 1rem;
  }
  .product img {
    width: 100%;
    height: auto;
  }
  .product p {
    width: 90%;
    line-height: 1.5;
    margin: 0 0 0.5rem 0;
  }
  .product p:last-child {
    color: #757575;
  }
  .active-filters, .utility__sort {
    display: flex;
    align-items: baseline;
  }
  .active-filters span {
    padding: 0.4rem 1.125rem 0.525rem;
    background: #F1F1F1;
    border-radius: 2rem;
    margin-right: 0.5rem;
    font-size: 13px;
  }
  .active-filters a {
    font-size: 13px;
    color: #444;
    margin-left: 0.5rem;
  }
  .active-filters span i {
    font-size: 16px;
    display: inline-block;
    margin-left: 0.5rem;
    position: relative;
    top: -1px;
  }
  @media(min-width: 57.25em) {
    .product-listing {
      display: grid;
      grid-column-gap: 24px;
      grid-template-columns: 190px 4fr;
    }  
    .product-listing__products {
      grid-template-columns: repeat(var(--cols-lg), 1fr);
    }
    .product-listing__filter {
      max-width: 190px;
      min-width: 190px;
      padding: 4rem 0 0 0;
      display: block;
    }  
    .utility__sort span {
       font-size: 14px;
       margin-left: 1.5rem;
    }
    #filters-hidden:checked ~ .product-listing .product-listing__filter {
      opacity: 0;
    }
    #filters-hidden:checked ~ .product-listing {
      grid-column-gap: 24px;
      grid-template-columns: 0px 4fr;
    }  
  }
  @media(min-width: 85em) {
    .page {
      --page-gap: 48px;
    }
    .product-listing__products {
      --cols-lg: 4;
    }  
  }
  @media(min-width: 110em) {
    .product-listing__products {
      --cols-lg: 5;
    }  
  }







  .ixon{
    font-size: 30px;
  }
  .product-menu{
    position: relative;
    padding: 10px;
    width: 98%;
    padding-left: 11%;
  }
  .product-area{
    position: relative;
    top:2%
  }
  .features-pages{
    display: flex;
    position: absolute;
    bottom: 0;
    right: 10%;
    /* top: 0%; */
    gap: 20px;
  }
  .featuring{
    display: flex;
    gap:30px;
  }
  .filter-bar{
    display: grid;
    top: 15%;
  }
  body.ui-slider-active {
    cursor: grabbing;
  }
 .box {
	 --primary: #275efe;
	 --headline: #3f4656;
	 --text: #99a3ba;
	 width: 100%;
	 max-width: 312px;
	 padding: 36px 32px 48px 32px;
}
 .box h2 {
	 font-family: inherit;
	 font-size: 32px;
	 font-weight: 700;
	 margin: 0 0 20px 0;
	 color: var(--headline);
}
 .box h2 span {
	 font-weight: 500;
}
 .box .values div, .box small div {
	 display: inline-block;
	 vertical-align: top;
}
 .box .values {
	 margin: 0;
	 font-weight: 500;
	 color: var(--primary);
}
 .box .values > div:first-child {
	 margin-right: 2px;
}
 .box .values > div:last-child {
	 margin-left: 2px;
}
 .box small {
	 color: var(--text);
	 display: block;
	 margin-top: 8px;
	 font-size: 14px;
}
.product-menu small{
  color: var(--text);
	 display: block;
	 margin-top: 8px;
	 font-size: 14px;
}
 .box .slider {
	 margin-top: 40px;
}
 .slider {
	 --primary: #275efe;
	 --handle: #fff;
	 --handle-active: #becfff;
	 --handle-hover: #e9efff;
	 --handle-border: 2px solid var(--primary);
	 --line: #cdd9ed;
	 --line-active: var(--primary);
	 height: 23px;
	 width: 100%;
	 position: relative;
	 pointer-events: none;
}
 .slider .ui-slider-handle {
	 --y: 0;
	 --background: var(--handle);
	 cursor: grab;
	 -webkit-tap-highlight-color: transparent;
	 top: 0;
	 width: 23px;
	 height: 23px;
	 transform: translateX(-50%);
	 position: absolute;
	 outline: none;
	 display: block;
	 pointer-events: auto;
}
 .slider .ui-slider-handle div {
	 width: 23px;
	 height: 23px;
	 border-radius: 50%;
	 transition: background 0.4s ease;
	 transform: translateY(calc(var(--y) * 1px));
	 border: var(--handle-border);
	 background: var(--background);
}
 .slider .ui-slider-handle:hover {
	 --background: var(--handle-hover);
}
 .slider .ui-slider-handle:active {
	 --background: var(--handle-active);
	 cursor: grabbing;
}
 .slider svg {
	 --stroke: var(--line);
	 display: block;
	 height: 83px;
}
 .slider svg path {
	 fill: none;
	 stroke: var(--stroke);
	 stroke-width: 1;
}
 .slider .active, .slider > svg {
	 position: absolute;
	 top: -30px;
	 height: 83px;
}
 .slider > svg {
	 left: 0;
	 width: 100%;
}
 .slider .active {
	 position: absolute;
	 overflow: hidden;
	 left: calc(var(--l) * 1px);
	 right: calc(var(--r) * 1px);
}
 .slider .active svg {
	 --stroke: var(--line-active);
	 position: relative;
	 left: calc(var(--l) * -1px);
	 right: calc(var(--r) * -1px);
}
 .slider .active svg path {
	 stroke-width: 2;
}
 html {
	 box-sizing: border-box;
	 -webkit-font-smoothing: antialiased;
}
 * {
	 box-sizing: inherit;
}
 *:before, *:after {
	 box-sizing: inherit;
}
 
/* checkbooooooooooooooox */
* {
	 box-sizing: border-box;
	 margin: 0;
	 padding: 0;
}
 .container {
  padding: 0px 63px 0px 12px;
  display: grid;
  gap: 5px;
}
 label {
	 cursor: pointer;
	 user-select: none;
	 display: block;
}
 label span {
	 position: relative;
	 border: 1px solid #d4d4d4;
	 border-radius: 10px;
	 transition: 0.4s;
	 padding: 0 15px;
	 height: 46px;
	 color: #414141;
	 display: flex;
	 align-items: center;
	 column-gap: 7px;
}
 label span .icon {
	 font-size: 1.1em;
}
 label input {
	 pointer-events: none;
	 display: none;
}
 label input:checked + span {
	 border-color: #275efe;
	 color: #275efe;
}
 



/* css product cards */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
}

:root{
    font-size: 16px;
    font-family: "Raleway";
    --heading-color: hsl(0, 0%, 7%);
    --date-text-color: hsl(0, 0%, 51%);
    --previous-price-text-color: hsl(0, 98%, 44%);
    --current-price-text-color: hsla(0, 0%, 0%, 0.822);
    --liked-heart-icon-color: hsl(0, 98%, 44%);
    --heart-icon-color: whitesmoke;
    --pricing-font-weight: 800;
    --title-font-weight: 800;
    --date-font-weight: 550;

    /* Cards colors */
    --card-main-color : whitesmoke;
    --card-1-secondary-color: rgb(192, 82, 82);
    --card-2-secondary-color: rgb(67,53,27);
    --card-3-secondary-color: rgb(178,180,179);
    --card-4-secondary-color: rgb(96,109,117);
}


.containering input{
    display: none;
}

.containering{
    max-width: 100em;
    /* background-color: lightgreen; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    margin: auto;
    min-height: 30em;
    padding: 3em 1em 1em 1em;
    box-sizing: border-box;
}

/* Card Styling */
.card-div{
    width: 20em;
    min-height: 20em;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: var(--card-main-color);
    margin: 0.6em;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: transform 0.2s ease-in-out;
}

/* ======== General styling of all cards and heart divs ========== */
.img-div{
    width: 100%;
    height: 8em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    z-index: 1;
    border-radius: 0 0 10px 10px;
}

.img-div img{
    transform-origin: bottom;
    transform: translateY(7.5%);
    transition: transform 0.3s ease-in-out
}

/* === Styling the like Icon ==== */
.like-icon-div{
    padding: 1em 1em 0 1em;
    width: 100%;
    box-sizing: border-box;
    text-align: right;
    font-size: 1.5em;
    color: var(--heart-icon-color);
    border-radius:10px 10px 0 0;
    display: flex;
    justify-content: flex-end;
}

.like-icon-div-child{
    /* background-color: yellow; */
    width: 1em;
    height: 1em;
    position: relative;
    z-index: 3;
    cursor: pointer;
}

.ri-heart-line{
    position: absolute;
    left: 0;
    opacity: 1;
}

.ri-heart-fill{
    position: absolute;
    left: 0;
    opacity: 0;
    transform: scale(0);
    transition: transform 0.25s ease-in-out, opacity 0.2s ease-in-out;
}


/* God of war image and heart-background*/
.gow-img-div{
    background-color: var(--card-1-secondary-color);
}

.gow-img-div img{
    width: 65%;
    transform: translateY(7.5%);
    /* background-color: whitesmoke; */
}

.card-1 .like-icon-div{
    background-color: var(--card-1-secondary-color);
}


/* Sekiro image and heart-background */
.sekiro-img-div{
    background-color: var(--card-2-secondary-color);
}

.sekiro-img-div img{
    width: 45%;
    transform: translateY(7.5%);
}

.card-2 .like-icon-div{
    background-color: var(--card-2-secondary-color);
}


/* Dazai image and heart-background */
.dazai-img-div{
    background-color: var(--card-3-secondary-color);
}

.dazai-img-div img{
    width: 80%;
    transform: translateY(7.5%);
}

.card-3 .like-icon-div{
    background-color: var(--card-3-secondary-color);
    
}

/* U4 image and heart-background*/
.u4-img-div{
    background-color: var(--card-4-secondary-color);
}

.u4-img-div img{
    width: 50%;
    transform: translateY(7.5%);
}

.card-4 .like-icon-div{
    background-color: var(--card-4-secondary-color);
}

/* ======== text Container Styling general ======== */

.text-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: yellow; */
    padding: 0 1.5em;
    padding-top: 7em;
    padding-bottom: 1em;
    box-sizing: border-box;
}

.text-container .item-name,
.text-container .date{
    margin: 0.25em 0;
    text-align: center;
}

.text-container .item-name{
    font-size: 1.2em;
    font-weight: var(--title-font-weight);
    color: var(--heading-color);
}

.text-container .date{
    font-size: 0.9em;
    font-weight: var(--date-font-weight);
    color: var(--date-text-color);
}

/* === Pricing and cart div  ===== */
.pricing-and-cart{
    /* background-color: wheat; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.25em 0 1em 0;
}

.pricing{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.previous-price{
    font-size: 0.8rem;
    font-weight: var(--pricing-font-weight);
    color: var(--previous-price-text-color);
    text-decoration: line-through;
    /* background-color: whitesmoke; */
    text-align: left;
}

.current-price{
    color: var(--current-price-text-color);
    font-size: 1.3rem;
    font-weight: var(--pricing-font-weight);
    /* background-color: yellow; */
    margin: 0;
}

.pricing-and-cart{
    width: 100%;
}

.ri-shopping-cart-line{
    font-size: 1.3rem;
    top: 0;
    transform: translateY(50%);
}


/* ====== Hover effects ======= */
.card-div:hover .img-div img{
    transform: translateY(7.5%) scale(1.2);
}

.card-div:hover{
    transform: translate(0, -10px);
}

.like-icon-div-child:hover .ri-heart-fill{
    opacity: 1;
    transform: scale(1);
}

.like-icon-div-child:hover .ri-heart-line{
    transition-delay: 0.25s;
    opacity: 0;
}

#card-1-like:checked ~ .ri-heart-line,
#card-2-like:checked ~ .ri-heart-line,
#card-3-like:checked ~ .ri-heart-line,
#card-4-like:checked ~ .ri-heart-line{ 
        opacity: 0;
}

#card-1-like:checked ~ .ri-heart-fill,
#card-2-like:checked ~ .ri-heart-fill,
#card-3-like:checked ~ .ri-heart-fill,
#card-4-like:checked ~ .ri-heart-fill{
    animation: like-animation 0.25s ease-in-out forwards;
}

#card-1-like:not(:checked) ~ .ri-heart-fill,
#card-2-like:not(:checked) ~ .ri-heart-fill,
#card-3-like:not(:checked) ~ .ri-heart-fill,
#card-4-like:not(:checked) ~ .ri-heart-fill{
    animation: unlike-animation 0.25s ease-in-out ;
}


@keyframes like-animation{
    0%{
        opacity: 1;
        transform: scale(1)
    }
    
    50%{
        opacity: 1;
        color: var(--liked-heart-icon-color);
        transform: scale(0.5);
    }

    100%{
        opacity: 1;
        color: var(--liked-heart-icon-color);
        transform: scale(1.0);
    }
}

@keyframes unlike-animation{
    0%{
        opacity: 1;
        transform: scale(1)
    }
    
    50%{
        opacity: 1;
        transform: scale(0.5);
    }

    100%{
        opacity: 1;
        color: var(--heart-icon-color);
        transform: scale(1.0);
    }
}