<style>* {
	box-sizing: border-box;
}

body {
	font-family: Lato, sans-serif;
	margin: 0;
	padding: 1rem;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(20, 20, 20, 1);
}

img {
	width: 100%;
	display: block;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	transition: transform 1000ms;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: grid;
	gap: 0.5rem;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	max-width: 100%;
	width: 70rem;
}

figure {
	margin: 0;
	position: relative;
	overflow: hidden;
}

figure::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200%;
	height: 200%;
	background: rgba(0, 0, 0, 0.5);
	transform-origin: center;
	opacity: 0;
	transform: scale(2);
	transition: opacity 300ms;
}

figcaption {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	place-items: center;
	text-align: center;
	padding: 1rem;
	color: white;
	font-size: 1.2rem;
	z-index: 1;
	opacity: 0;
	transition: opacity 600ms, transform 600ms;
}

a:is(:hover, :focus) figure::after {
	opacity: 1;
}

a:is(:hover, :focus) figcaption {
	opacity: 1;
	transition: opacity 600ms;
}

@media (prefers-reduced-motion: no-preference) {
	figcaption {
		transform: translate3d(0, 2rem, 0);
	}
	
	figure::after {
		border-radius: 50%;
		opacity: 1;
		transform: scale(0);
		transition: transform 900ms;
	}
	
	a:is(:hover, :focus) figure::after {
		transform: scale(2.5);
	}

	a:is(:hover, :focus) figcaption {
		opacity: 1;
		transform: translate3d(0, 0, 0);
		transition: opacity 600ms 400ms, transform 600ms 400ms;
	}

	a:is(:hover, :focus) img {
		transform: scale(1.2);
	}

}
.video-button {
    display: inline-block;
	border: 1px solid;
    border-color: whitesmoke; /* Couleur de fond */
    color: white; /* Couleur du texte */
    padding: 10px 20px; /* Rembourrage intérieur */
    border-radius: 5px; /* Coins arrondis */
    text-decoration: none; /* Pas de soulignement */
    transition: background-color 0.3s ease; /* Transition en douceur */
  }

  /* Style pour le bouton au survol */
  .video-button:hover {
    background-color: whitesmoke; /* Nouvelle couleur de fond au survol */
	color: black;
  }

  .container{display: block;}
  /* Positionnement du bouton */
  .video-button-container {
    text-align: center; /* Centrer le contenu horizontalement */
    margin-top: 20px; /* Marge en haut pour séparation */
  }</style>
<div class="container">
    <div class="image">
        <ul>
            <li>
                <a href="">
                    <figure style="border-top-left-radius: 15px 15px;">
                        <img src='../../static/image00010.jpeg' alt="Description of Your Image" class="gallery__image">
                        <figcaption>Vaccum system</figcaption>
                    </figure>
                </a>
            </li>
            <li>
                <a href="">
                    <figure>
                        <img src='../../static/image00009.jpeg'>
                        <figcaption>Fries</figcaption>
                    </figure>
                </a>
            </li>
            <li>
                <a href="">
                    <figure  style="border-top-right-radius: 15px 15px;" >
                        <img src='../../static/image00006.jpeg'>
                        <figcaption>Production</figcaption>
                    </figure>
                </a>
            </li>
            <li>
                <a href="">
                    <figure  style="border-bottom-left-radius: 15px 15px;">
                        <img src='../../static/image00004.jpeg'>
                        <figcaption>Production</figcaption>
                    </figure>
                </a>
            </li>
            <li>
                <a href="">
                    <figure>
                        <img src='../../static/image00005.jpeg'>
                        <figcaption>Production</figcaption>
                    </figure>
                </a>
            </li>
            <li>
                <a href="">
                    <figure   style="border-bottom-right-radius: 15px 15px;">
                        <img src='../../static/image00006.jpeg'>
                        <figcaption>Production</figcaption>
                    </figure>
                </a>
            </li>
        </ul>
      </div>
    <div class="video-button-container">
		<a href="#" target="_blank" class="video-button">Back Home</a>&nbsp;&nbsp;&nbsp;
        <a href="../../static/IMG_0200.mp4" target="_blank" class="video-button">Watch the Video</a>

    </div>
</div>
