<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/products.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
    rel="stylesheet"
/>
    <title>Document</title>
</head>
<body>
  <div class="product-listing">
    <div class="filter-bar">
      <div class="Category-Filtering">
        <div class="box">
          <h2>Category <span>Filtering</span></h2>
          <div class="container">
  
            <label>
              <input type="checkbox">
              <span>
                <i class="icon ri-game-line "></i>
                Game
              </span>
            </label>
          
            <label>
              <input type="checkbox" checked>
              <span>
                <i class="icon ri-sword-line"></i>
                Sword
              </span>
            </label>
          
            <label>
              <input type="checkbox">
              <span>
                <i class="icon ri-skull-line"></i>
                Scull
              </span>
            </label>
          
            <label>
              <input type="checkbox" checked>
              <span>
                <i class="icon ri-aliens-line"></i>
                Aliens
              </span>
            </label>
          
            <label>
              <input type="checkbox">
              <span>
                <i class="icon ri-run-line"></i>
                Run
              </span>
            </label>
          
          </div>
        </div>
      </div>
      <div class="Price-Range-Filtering">
        <div class="box">
  
          <h2>Price <span>Range</span></h2>
          <div class="values">
              <div>$<span id="first"></span></div> - <div>$<span id="second"></span></div>
          </div>
  
          <small>
              Current Range:
              <div>$<span id="third"></span></div>
          </small>
      
          <div class="slider" data-value-0="#first" data-value-1="#second" data-range="#third"></div>
        </div>
      </div>
      <div class="Rating-Filtering">
  
      </div>
      <div class="Discount-Filtering">
        <div class="box">
          <h2>Discount <span>Filtering</span></h2>
          <div class="container">
            <label>
              <input type="checkbox" checked>
              <span>
                10<i class="ri-discount-percent-line"></i>Discount
              </span>
            </label>
  
            <label>
              <input type="checkbox">
              <span>
                25 <i class="ri-discount-percent-line"></i>Discount
              </span>
            </label>
  
            <label>
              <input type="checkbox">
              <span>
                50<i class="ri-discount-percent-line"></i>Discount
              </span>
            </label>
          
            <label>
              <input type="checkbox" checked>
              <span>
                60<i class="ri-discount-percent-line"></i>Discount
              </span>
            </label>
          
            <label>
              <input type="checkbox">
              <span>
                75<i class="ri-discount-percent-line"></i>Discount
              </span>
            </label>  
          </div>
        </div>
      </div>
    </div>
    <div class="product-area">
      <div class="product-menu">
        <small>
          Showing X to X of X items
        </small>
        <div class="features-pages">
          <div class="featuring">
            <a href=""><i class="ri-heart-2-line ixon"></i></i></a>
            <a href=""><i class="ri-shopping-cart-2-line ixon"></i></i></a>
            <a href=""><i class="ri-account-circle-line ixon"></i></a>
          </div>
        </div>
      </div>
      <div class="containering">
        <div class="card-1 card-div">
            <div class="like-icon-div">
                <label for="card-1-like" class="like-icon-div-child">
                    <input type="checkbox" id="card-1-like">
                    <i class="ri-heart-line he"></i>
                    <i class="ri-heart-fill hf"></i>
                </label>
            </div>
            
            <div class="gow-img-div img-div">
                <img src="https://github.com/gerrardNwoke/codePen-imgs/blob/main/imgs/gow-figurine.png?raw=true" alt="god-of-war-figurine">
            </div>
            <div class="text-container">
                <h2 class="item-name">Kratos and Artreus Statue - God Of War</h2>
                <p class="date"> Departure date: 31/03/2021 </p>
                <div class="pricing-and-cart">
                    <div class="pricing">
                        <p class="previous-price">$999</p>
                        <p class="current-price">$599</p>
                    </div>
                    <i class="ri-shopping-cart-line cart"></i>
                </div>
            </div>
        </div>
  
        <div class="card-2 card-div">
            <div class="like-icon-div">
                <label for ="card-2-like" class="like-icon-div-child">
                    <input type="checkbox" id="card-2-like">
                    <i class="ri-heart-line he"></i>
                    <i class="ri-heart-fill hf"></i>
                </label>
            </div>
            <div class="sekiro-img-div img-div">
                <img src="https://github.com/gerrardNwoke/codePen-imgs/blob/main/imgs/sekiro-figurine.png?raw=true" alt="sekiro-figurine">
            </div>
            <div class="text-container">
                <h2 class="item-name">Sekiro Statue - Sekiro: Shadows Die Twice</h2>
                <p class="date"> Departure date: 31/03/2021 </p>
                <div class="pricing-and-cart">
                    <div class="pricing">
                        <p class="previous-price">$999</p>
                        <p class="current-price">$799</p>
                    </div>
                    <i class="ri-shopping-cart-line cart"></i>
                </div>
            </div>
        </div>
  
        <div class="card-3 card-div">
            <div class="like-icon-div">
                <label for="card-3-like" class="like-icon-div-child">
                    <input type="checkbox" id="card-3-like">
                    <i class="ri-heart-line he"></i>
                    <i class="ri-heart-fill 05SRnLZVhicsHdUXk8PSCccafF07aEG6ni8yxGNsksMoWX1e0ZF4SNIs5pwZZowkGPWCaIw3ccTtAcM8eHBviMcshDQ__"></i>
                </label>
            </div>
            <div class="dazai-img-div img-div">
                <img src="https://github.com/gerrardNwoke/codePen-imgs/blob/main/imgs/dazai-figurine.png?raw=true" alt="sekiro-figurine">
            </div>
            <div class="text-container">
                <h2 class="item-name">Osamu Dazai Funko Pop - Bungou Stray Dogs</h2>
                <p class="date"> Departure date: 31/03/2021 </p>
                <div class="pricing-and-cart">
                    <div class="pricing">
                        <p class="previous-price">$449</p>
                        <p class="current-price">$279</p>
                    </div>
                    <i class="ri-shopping-cart-line cart"></i>
                </div>
            </div>
        </div>
  
        <div class="card-4 card-div">
            <div class="like-icon-div">
                <label for="card-4-like" class="like-icon-div-child">
                    <input type="checkbox" id="card-4-like">
                    <i class="ri-heart-line he"></i>
                    <i class="ri-heart-fill hf"></i>
                </label>
            </div>
            <div class="u4-img-div img-div">
                <img src="https://github.com/gerrardNwoke/codePen-imgs/blob/main/imgs/u4-figurine.png?raw=true" alt="u4-figurine">
            </div>
            <div class="text-container">
                <h2 class="item-name">Nathan Drake Statue - Uncharted 4: A Thief's End</h2>
                <p class="date"> Departure date: 31/03/2021 </p>
                <div class="pricing-and-cart">
                    <div class="pricing">
                        <p class="previous-price">$759</p>
                        <p class="current-price">$499</p>
                    </div>
                    <i class="ri-shopping-cart-line cart"></i>
                </div>
            </div>
        </div>
    </div>
    </div>
  </div>
  

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script> 
  <script src="../../static/js/filtering.js"></script>


</body>
</html>