*{
	margin: 0;
	padding: 0;
}

.main{
    background: linear-gradient(to right bottom, #6ab1a9, #20675f);
    width: auto;
}
.wop{
    min-width: 50%;
    min-height: 600px;
    box-shadow: 0 1.25em 1em -.5em #0005;
}
#mydiv{    
    background-image: url('../../Drive/templates/Marche-halle-Ferme-Viltain-vue-exterieure-800x600_visuel_large.jpg');
    z-index: 99;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 100%;
}
.bg{
    position: absolute;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.pow{
    background-color: #FFEDDB;
    box-shadow: 0 1.25em 1em -.5em #0005;
    min-width: 50%;
    min-height: 600px;

}
